.button-set {
  display: flex;
  flex-direction: row;

  button,
  .button {
    flex-grow: 1;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
select,
.input,
.button,
div.row > div.StripeElement {
  display: block;
  font-size: 19px;
  border-radius: 4px;
  margin-bottom: 0.5em;
  padding: 12px;

  &.full-width {
    width: 100%;
  }

  &.no-margin {
    margin-bottom: 0;
  }
}

label {
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
.input, 
div.StripeElement {
  color: $color-text;
  border: 1px solid $color-primary;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: $color-secondary;
  }
}

button,
.button {
  background-color: $color-primary-2;
  color: $color-primary;
  border: none;
  cursor: pointer;

  &.secondary {
    background-color: $color-secondary-2;
    color: $color-primary;
    border: 1px solid $color-primary-2;

    &:hover {
      background-color: darken($color-secondary-2, 10%);
    }

    &:active {
      background-color: darken($color-secondary-2, 20%);
    }
  }

  &.primary {
    background-color: $color-primary;
    color: white;
    border: 1px solid $color-primary;

    &:hover {
      background-color: darken($color-primary, 10%);
    }

    &:active {
      background-color: darken($color-primary, 20%);
    }
  }

  &.primary-2 {
    background-color: $color-primary-2;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background-color: darken($color-primary-2, 10%);
    }

    &:active {
      background-color: darken($color-primary-2, 20%);
    }
  }

  &:hover {
    background-color: darken($color-primary-2, 10%);
  }

  &:active {
    background-color: darken($color-primary-2, 20%);
  }
}