.button-set {
  display: flex;
  flex-direction: row;

  button,
  .button {
    flex-grow: 1;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
button,
select,
.input,
.button,
div.row > div.StripeElement {
  display: block;
  font-size: 19px;
  margin-bottom: 0.5em;
  padding: 12px;
  font-family: 'nimbus-sans', sans-serif;
  font-size: 19px;

  &.half-width {
    display: inline-block;
    width: calc(50% - 3px);
  }

  &.full-width {
    width: 100%;
  }

  &.no-margin {
    margin-bottom: 0;
  }
}

label {
  display: block;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
.input, 
div.StripeElement {
  color: $color-text;
  border: 1px solid $color-primary;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: $color-secondary;
  }
}

button.hamburger {
  border: 0;
  background-color: transparent;
  margin: 0;
  line-height: 0;
  outline: none;

  img {
    height: 30px;
    margin: 0;
    padding: 0;
  }

  &:hover,
  &:active {
    background-color: transparent;
  }
}

button,
.button {
  background-color: $color-primary-2;
  color: $color-primary;
  border: none;
  cursor: pointer;

  &[disabled] {
    background-color: $color-text !important;
    color: white;
    cursor: not-allowed;
  }

  &.secondary {
    background-color: $color-secondary-2;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background-color: darken($color-secondary-2, 10%);
    }

    &:active {
      background-color: darken($color-secondary-2, 20%);
    }
  }

  &.tertiary {
    background-color: $color-tertiary;
    color: white;
    border: 1px solid $color-tertiary;

    &:hover {
      background-color: darken($color-tertiary, 10%);
    }

    &:active {
      background-color: darken($color-tertiary, 20%);
    }
  }

  &.primary {
    background-color: $color-primary;
    color: white;
    border: 1px solid $color-primary;

    &:hover {
      background-color: darken($color-primary, 10%);
    }

    &:active {
      background-color: darken($color-primary, 20%);
    }
  }

  &.primary-2 {
    background-color: $color-primary-2;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background-color: darken($color-primary-2, 10%);
    }

    &:active {
      background-color: darken($color-primary-2, 20%);
    }
  }

  &.ghost {
    background-color: transparent;
    color: $color-text;
    border: 1px solid $color-primary;

    &:hover {
      background-color: rgba($color-primary, 0.2);
    }

    &:active {
      background-color: rgba($color-primary, 0.4);
    }
  }

  &:hover {
    background-color: darken($color-primary-2, 10%);
  }

  &:active {
    background-color: darken($color-primary-2, 20%);
  }
}