.button-set {
  display: flex;
  flex-direction: row;

  button,
  .button {
    flex-grow: 1;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
button,
select,
.button {
  display: block;
  font-size: 19px;
  border-radius: 4px;
  margin-bottom: 0.5em;
  padding: 12px;
  font-family: 'nimbus-sans', sans-serif;
  font-size: 19px;

  &.half-width {
    display: inline-block;
    width: calc(50% - 3px);
  }

  &.full-width {
    width: 100%;
  }

  &.no-margin {
    margin-bottom: 0;
  }
}

label {
  display: block;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  color: $color-text;
  border: 1px solid $color-primary;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: $color-secondary;
  }
}

button,
.button {
  background-color: $color-primary;
  color: $color-text-light;
  border: none;
  cursor: pointer;

  &.secondary {
    background-color: $color-secondary-2;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background-color: darken($color-secondary-2, 10%);
    }

    &:active {
      background-color: darken($color-secondary-2, 20%);
    }
  }

  &.primary-2 {
    background-color: $color-primary-2;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background-color: darken($color-primary-2, 10%);
    }

    &:active {
      background-color: darken($color-primary-2, 20%);
    }
  }

  &.ghost {
    background-color: transparent;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background-color: rgba($color-primary, 0.2);
    }

    &:active {
      background-color: rgba($color-primary, 0.4);
    }
  }

  &:hover {
    background-color: darken($color-primary, 10%);
  }

  &:active {
    background-color: darken($color-primary, 20%);
  }
}