$grid-cols: 12;
$max-width: 90%;
$grid-width: 1260px;
$grid-margins: 32px;
$grid-break: 750px;

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.row {
  width: $grid-width;
  max-width: $max-width;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 $grid-margins / 2;

  @media only screen and (max-width: $grid-break) {
    flex-direction: column;
  }

  &.allow-wrap {
    flex-wrap: wrap;
  }
}

@for $i from 1 through $grid-cols {
  .col-#{$i} {
    width: percentage($i / $grid-cols);
    box-sizing: border-box;

    @media only screen and (max-width: $grid-break) {
      width: 100%;
      margin: 0;
    }
  }

  .col-#{$i}:not(.no-margin) {
    margin: $grid-margins / 2;
  }

  .col-#{$i}:not(.no-margin).no-margin-vertical {
    margin-top: 0;
    margin-bottom: 0;
  }

  .col-#{$i}:not(.no-margin).no-margin-horizontal {
    margin-left: 0;
    margin-right: 0;
  }
}