#app {
  font-family: 'Helvetica', sans-serif;
  color: $color-text;
  font-size: 19px;
  line-height: 1.5em;
}

// Commenting this out since the payment page requires it not be added.
// Add to the pages you work on
// I added in this as a style-reset that never got implemented
// body, h1, h2, h3, h4, h5, h6, p, ol, ul {
//   margin: 0;
//   padding: 0;
//   font-weight: normal;
// }

h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1em;

  &.super-head {
    font-size: 92px;
    font-weight: 400;
    word-break: break-all;
  }

  &.poster-head {
    font-size: 100px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

.callout {
  font-size: 22px;
  color: $color-secondary;
}

.footnote {
  font-size: 17px;
  color: $color-secondary;
}

a {
  color: $color-secondary;

  &:hover {
    color: darken($color-secondary, 10%);
  }

  &:active {
    color: darken($color-secondary, 20%);
  }
}