$color-primary: #e62b1e;
$color-primary-2: #ffd8d6;
$color-secondary: #e09b8b;
$color-secondary-2: #fff7f3;
$color-tertiary: #ef6046;
$color-tertiary-2: #bff9f6;
$color-text: #2b2b2b;
$color-text-light: #ffffff;
$height-tabset: 80px;
$tabset-break: 760px;
$color-secondary-3: #f5f0ef;
$color-accent: #ff6549;
