$color-primary: #e62b1e;
$color-primary-2: #ffd8d6;
$color-secondary: #999997;
$color-secondary-2: #ffffff;
$color-tertiary: #e62b1e;
$color-tertiary-2: #bff9f6;
$color-text: #000000;
$color-text-light: #ffffff;
$height-tabset: 80px;
$tabset-break: 760px;
$color-secondary-3: #f5f0ef;
$color-accent: #ff6549;
$color-cool-black: #2e3131;